/* basic style */

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

button {
    border: none;
}

li {
    list-style: none;
}

#container {
    position: relative;
    text-align: left;
    overflow: hidden;
}

body {
    height: 4000px;
}

div {
    display: block;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}


/* style the topnav */

#navbar {
    background-color: rgba(255, 255, 255, 0.3);
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0 auto;
    transition: top 0.4s;
}

.logo {
    float: left;
    margin-left: 20%;
    margin-top: 10px;
}


/* Style the navbar links */

#navbar a {
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    margin-left: 1%;
    line-height: 50px;
    font-size: 18px;
    font-family: Tahoma, Helvetica, serif;
    color: black;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}

#navbar a:nth-child(n+2):hover {
    color: black;
    border-bottom: 2px solid #000;
}


/* style the focus pics */

.focus {
    width: 100%;
    z-index: 0;
}

.focus img {
    width: 100%;
}

.words {
    color: whitesmoke;
    font-size: 50px;
    position: absolute;
    bottom: 28%;
    left: 16%;
    line-height: 50px;
    z-index: 5;
}

.picnav {
    margin-top: 144px;
    margin-bottom: 150px;
}

.headline1 {
    color: rgba(68, 104, 156, .8);
    margin-bottom: 66px;
    font-size: 36px;
    text-align: center;
    letter-spacing: 2px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
}

.picnav ul {
    float: left;
    margin-bottom: 50px;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    padding-left: 0;
}

.picnav li {
    width: 33.3333%;
    float: left;
    position: relative;
}

.picnav li a {
    display: block;
    position: relative;
    background: #003f54;
}

.picnav li img {
    width: 100%;
    vertical-align: bottom;
    opacity: .7;
}

.picnav a:hover {
    background-color: rgba(0, 0, 0, .7);
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.picnav p {
    width: 100%;
    font-size: 30px;
    font-style: oblique;
    position: absolute;
    top: 50%;
    left: 0;
    color: #fff;
    z-index: 2;
    letter-spacing: 1.5px;
    transform: translateY(-50%);
    text-align: center;
}

.linkTo {
    text-align: center;
}

.-rob-sans-400 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.linkTo p {
    color: rgba(68, 104, 156, .8);
    font-size: 20px;
    display: inline-block;
    position: relative;
    letter-spacing: 1px;
}


/* style the events */

.events {
    margin: 0 auto 144px;
    width: 900px;
    height: 490px;
}

.events .headline02 {
    margin-top: 3px;
    margin-bottom: 0;
    margin-left: -14px;
    float: left;
}

.headline02 {
    margin-bottom: 66px;
    font-size: 36px;
    text-align: center;
    letter-spacing: 2px;
}

.-roboto {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
}

.events .headline02 p {
    white-space: nowrap;
    writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
}

.events-box {
    margin-bottom: 53px;
    position: relative;
}

.events-info {
    margin-left: 70px;
    width: 685px;
    float: left;
}

.events-word {
    margin-bottom: 32px;
    overflow: hidden;
}

.events-time {
    width: 215px;
    float: left;
    overflow: hidden;
    letter-spacing: 1px;
}

.events-time span {
    margin-top: -2px;
    width: 100px;
    float: left;
    font-size: 15px;
    line-height: 1.8;
}

.events-time p {
    margin-left: 110px;
    width: 110px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.8;
}

.events-pecific {
    margin-left: 235px;
    font-size: 13px;
    line-height: 1.8;
    letter-spacing: .8px;
}


/* style the contack us links */

.mainpic {
    position: relative;
    width: 100%;
}

.mainpic img {
    width: 100%;
    position: relative;
    z-index: 2;
    vertical-align: bottom;
}

video {
    position: absolute;
    top: 30%;
    right: 12%;
    width: 50%;
    z-index: 1;
}


/* @media (max-width: 767px) and (min-width: 0).slogan {
    top: 50%;
    left: 50%;
    right: auto;
    transform: translate(-50%, -50%);
} */

.about-us {
    position: relative;
}

.slogan {
    color: white;
    font-size: 30px;
    position: absolute;
    top: 76%;
    left: 8%;
    line-height: 50px;
    z-index: 5;
}

.bottpage {
    position: relative;
    width: 100%;
}

.bottpage img {
    width: 100%;
    position: relative;
    z-index: 2;
}

.essay {
    width: 40%;
    top: 500px;
    left: 10%;
    position: absolute;
    background-color: transparent;
    z-index: 5;
}

.essay h2 {
    color: palevioletred;
    font-size: 30px;
}

.page {
    text-indent: 30px;
}

.ship {
    width: 30%;
    position: absolute;
    top: 350px;
    right: 10%;
    position: absolute;
    z-index: 5;
}

.ship p {
    font-family: Georgia, serif;
}

.contact-us {
    margin-top: 144px;
    margin-bottom: 150px;
}


/* style the map info */

.mapbox {
    position: relative;
    width: 90%;
    height: 900px;
    margin: 0 auto;
    background-color: transparent;
}

.find-us {
    position: relative;
    width: 100%;
    background-color: rgba(153, 51, 102, .3);
    color: white;
    margin: 0 auto;
}

.find-us h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}

.centre {
    font-size: 35px;
    margin-left: 35%;
    color: rgb(51, 102, 153);
}

.info {
    padding-top: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    margin-left: 40px;
}

.map {
    position: absolute;
    width: 30%;
    z-index: 10;
    top: 10%;
}

.pos1 {
    left: 2%;
}

.pos2 {
    left: 35%;
}

.pos3 {
    right: 2%;
}

.map img {
    width: 100%;
    border: 12px solid rgba(51, 153, 102, .3);
    border-radius: 30px;
}

.mapbox img {
    cursor: pointer;
    transition: all 0.5s;
}


/* style the media links */

.followus {
    position: absolute;
    top: 88%;
    right: 10%;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 58px;
    z-index: 10;
    font-style: oblique;
    color: pink;
}

.media-logo {
    position: absolute;
    width: 6%;
    z-index: 10;
}

.media-logo img {
    width: 100%;
}

.pos4 {
    top: 95%;
    left: 5%;
}

.pos5 {
    top: 95%;
    left: 15%;
}

.pos6 {
    top: 95%;
    left: 25%;
}

.pos7 {
    top: 95%;
    left: 35%;
}

.pos8 {
    top: 95%;
    left: 45%;
}

.pos9 {
    top: 95%;
    left: 55%;
}

.mapbox img:hover {
    transform: scale(1.2);
}


/* footer style begin */

.footer {
    position: relative;
    width: 100%;
    margin: 0 auto;
    height: 385px;
    padding-top: 0px;
    background-color: #f1f1f1;
}

.newsletter {
    position: absolute;
    left: 12%;
    width: 30%;
    height: 100%;
}

form {
    border: 2px solid rgb(51, 102, 153);
    border-radius: 10px;
}


/* Add some padding and a grey background color to containers */

.container2 {
    border-radius: 10px;
    padding: 2%;
    background-color: #f1f1f1;
}


/* Style the input elements and the submit button */

input[type=text],
input[type=submit] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 30px;
}


/* Add margins to the checkbox */

input[type=checkbox] {
    margin-top: 16px;
    border-radius: 30px;
}


/* Style the submit button */

input[type=submit] {
    border-radius: 30px;
    background-color: rgb(51, 102, 153);
    color: white;
    border: none;
}

input[type=submit]:hover {
    opacity: 0.8;
}

dl {
    position: absolute;
    top: 10%;
}

.quick {
    left: 65%;
    /* margin-left: 100px; */
}

.join {
    left: 82%;
}

.information {
    left: 48%;
}

dt a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 35px;
    font-size: 20px;
    color: rgb(51, 51, 51);
}

dd {
    margin-top: 15px;
}

dd a {
    font-size: 15px;
    color: rgba(51, 51, 51, .6);
}

dd a:hover {
    color: rgb(51, 102, 153);
}

.copyright {
    position: absolute;
    bottom: 5%;
    left: 50%;
    font-size: 5px;
    color: rgba(51, 51, 51, .7);
}

#myBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 25px;
    /* Place the button at the bottom of the page */
    right: 35px;
    /* Place the button 30px from the right */
    z-index: 3;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: rgba(0, 153, 204, .6);
    /* Set a background color */
    color: white;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 20px;
    /* Some padding */
    border-radius: 15px;
    /* Rounded corners */
    font-size: 18px;
    /* Increase font size */
}

#myBtn:hover {
    background-color: #555;
    /* Add a dark-grey background on hover */
}